@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

:root {
    /* Cores do meu site */
    --fundo: #D4C0A3;
    --cor0: #0FC2C0;
    --cor1: #0CABA8;
    --cor2: #008F8C;
    --cor3: #015958;
    --cor4: #023535;

    /* Fontes */
    --fonte-padrao: "Noto Sans Mono", sans-serif;
    --generica: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../../../Aulas/html-css/aulas/aula017/img/wallpaper002.jpg');
    background-size: contain;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    height: 100vh;
    margin: 0;
    background-size: 100% 100%;
}

header {
    background-image: linear-gradient(to top, var(--cor3), var(--cor1));
    margin: 30px 30px 80px 30px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-family: var(--generica);
}

nav {
    background-color: var(--fundo);
    display: flex;
    justify-content: center; /* Centraliza Horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    /* background: transparent;
    backdrop-filter: blur(10px);  */
    height: 360px;
    width: 600px; /* AJustar pro tamanho certo */
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 2px 2px 8px black;
    
    gap: 1.2rem;
}

nav > a {
    font-family: var(--fonte-padrao);
    color: white;
    padding: 0.5rem;
    margin-right: 40px;
    margin-left: 40px;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
}

nav > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
}

a::before {
    bottom: 0;
    left: 0;
}

nav > a:hover::before {
    transform: scaleX(1);
}

.centralizar {
    display: flex;
    justify-content: center; /* Centraliza Horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}